  <%= render 'layouts/navigation' %>

 <section class="about_background section section-on-bg">
        <div class="container text-center">                
           
           <h2 class="title about_header" style="margin-top: 70px;"><span style="font-size: 46px; font-weight: 700; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);">The First Sustainable Alternative to Cemeteries</span></h2>
        </div><!--//container-->
    </section><!--//promo-->

 <!-- ******Video Section****** --> 
    <section class="story-section section section-on-bg">
       <container>
        <h2 class="title container text-center"><span style="color:#00661E; font-size: 44px;">About Better Place</span></h2>
    </container>
        <div class="story-container container text-center" style="margin-top: -40px !important;"> 
            <div class="story-container-inner" >                    
                <div class="about">
                    <p style="font-size: 17px;">Better Place was created with the idea that there needs to be more options for peoples' final resting places other than cemeteries and urns.</p> 
                    <p style="font-size: 17px;">We believe that people want affordable, sustainable and unique options when it comes to how their remains will spend eternity, regardless of their beliefs. With the world population growing rapidly and lack of suitable burial space a real issue, Better Place aims to let people spend eternity in some of the most beautiful places on earth, in completely natural habitats, as part of the soil from which a tree grows.</p>
                    <div style="margin-top: 40px; text-align: center;">
                        <h3 style="font-family:  'Bevan', sans-serif; font-size: 24px; color: #00661E;line-height: 1.4;">By choosing Better Place, you are selecting a better place to rest and helping to preserve the most beautiful and natural places on earth.</h3><br />
                         <h3 style="font-family:  'Bevan', sans-serif; font-size: 24px; color: #00661E;">Spend Eternity in a Better Place</h3>

                    </div>              
                </div><!--//about-->
               


<!--
             
                <div class="press-kit text-center">
                    <h3 class="title">Press Kit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                    <p>Please <a href="contact.html">contact us</a> if you need more materials.</p>
                    <a class="btn btn-cta btn-cta-secondary" href="#">Download Press Kit</a>
                </div>

            -->
        </div>
        </div>
  </section>

     <%= render 'layouts/footer' %>
    