  <%= render 'layouts/navigation' %>
 <%= image_tag("faq_background2.jpg") %>
 <!-- ******BLOG****** -->         
        <div class="blog-entry-wrapper" > 
              <h2 class="title text-center" style="margin-bottom: 0px; "><span style="color: #00661E; font-weight: 300; font-size: 36px;">Frequently Asked Questions</span></h2>
            <!--
            <div class="blog-headline-bg">
            </div><!--//blog-headline-bg-->
            <div class="blog-entry">                 
                <article class="post">
                   

                    <div class="container">
                        <div class="row">
                            <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">

                                <h3 class="section-heading" style="text-align:center !important;">What are your current available locations?</h3>
                                <p>We currently are offering a rustic location in northern Ontario that we feel best represents the geography of the land. We will soon be expanding to other locations in Canada, the US and overseas. If you have any questions or special requests please <a href="#">contact us</a></p>
                                
                                
                                <h3 class="section-heading" style="text-align:center !important;">How do I coordinate the delivery / pickup of the ashes?</h3>
                                
                                <p>Better Place works directly with the funeral home (if that's where the ashes are currently located) or we are available to pick up the ashes from your home. In special cases we can help you coordinate shipping.</p>

                                <h3 class="section-heading" style="text-align:center !important;">How much does the service cost?</h3>

                                <p>The costs are dependent on the location and pickup or shipping options. Please see our <a href="#">pricing table</a> for details.</p>

                                <h3 class="section-heading" style="text-align:center !important;">Can my family visit the area where the ashes will be planted?</h3>
                                
                                <p>It depends on the location but for the most part, Better Place like to choose locations with road access so that you can visit the final resting place of your loved ones.</p>

                                <h3 class="section-heading" style="text-align:center !important;">How long does it take from the pickup of the ashes to be transferred to the selected location?</h3>
                                
                                <p>Because Better Place chooses locations for their natural habitats, we need to work with nature on logistics. This means we can usually transfer the remains in spring, summer or fall.</p>

                                <h3 class="section-heading" style="text-align:center !important;">Will the locations run out of room?</h3>
                                
                                <p>Yes. Although we will acquire more land as needed. If you would liek to reserve a space in a particular location please <a href="#">contact us</a> </p>

                               
                               
                                
                               
                        </div><!--//row-->
                    </div><!--//container-->                                               
                </article><!--//post-->                                      
            </div><!--//blog-entry-->
        </div><!--//blog-entry-wrapper-->  
    </div><!--//wrapper-->

      <%= render 'layouts/footer' %>