  <%= render 'layouts/navigation' %>
  <section class="faq_background section section-on-bg">
        <div class="container text-center">                
             <h2 class="title" style="margin-top: 70px;"><span style="font-size: 46px; font-weight: 700; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);">Frequently Asked Questions</span></h2>
           
        </div><!--//container-->
    </section><!--//promo-->
 <!-- ******BLOG****** -->         
        <div class="blog-entry-wrapper" > 
              <h2 class="title text-center" style="margin-bottom: 40px;"><span style="color: #00661E; font-weight: 300; font-size: 44px; ">Sustainable & Natural</span></h2>
            <!--
            <div class="blog-headline-bg">
            </div><!--//blog-headline-bg-->
            <div class="blog-entry">                 
                <article class="post">
                   

                    <div class="container">
                        <div class="row">
                            <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">

                                <h3 class="section-heading" style="text-align:center !important;">WHow do I know where my loved one's tree is planted?</h3>
                                
                                <p>We will record the GPS location and add a small GPS marker or memorial plaque to your tree. </p>
                                
                                
                                <h3 class="section-heading" style="text-align:center !important;">Can I visit my loved one's tree?</h3>
                                
                                <p>Yes, but this depends on the location you select. Some of our locations will be untouched natural wilderness that is difficult to access, while other locations are accessible. </p>

                                <h3 class="section-heading" style="text-align:center !important;">How do I know your land will never be redeveloped? </h3>

                                <p>Each Better Place wilderness park is zoned as a cemetery and held in a permanent care and maintenance trust. The land can never be legally redeveloped or changed. </p>


                                <h3 class="section-heading" style="text-align:center !important;">Can I choose the type of tree? </h3>
                                
                                <p>Yes. We will offer a few options of trees that are native to the location you select. You can also choose whether you would like a newly planted tree or a mature tree. </p>

                                <h3 class="section-heading" style="text-align:center !important;">Can't I just plant my own tree in a park? </h3>
                                
                                <p>AYou can, but ashes have a high pH that is damaging to trees if they aren't carefully treated. Better Place also provides the peace of mind of knowing that your loved one's tree will be in permanently protected wilderness. </p>

                                <h3 class="section-heading" style="text-align:center !important;">How much does Better Place cost? </h3>
                                
                                <p style="margin-bottom: 40px;">Better Place pricing will depend on the locations that we end up selecting. Please share your email address and thoughts to let us know what locations and pricing you think are best for Better Place. </p>

                               


                               
                               
                                
                               
                        </div><!--//row-->
                    </div><!--//container-->                                               
                </article><!--//post-->                                      
            </div><!--//blog-entry-->
        </div><!--//blog-entry-wrapper-->  
    </div><!--//wrapper-->

      <%= render 'layouts/footer' %>