// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about p {
	font-size: 16px;
	line-height: 1.4;

}

.price {
	background: #f7f7f7;
	border: 1px solid #000;
}

.price_description {
	padding: 5px;
	text-align:center;
	margin-top: 10px;
  margin-bottom: 15px
}

.price_description p {
	font-size: 16px;
	line-height: 1.2;
}

.options_title {
	padding: 5px;
	margin-bottom: 5px;
}

.options_title p {
	font-family: 'Open Sans', sans-serif;
	font-weight: light;
	color: #00661E;
}

.options_title h4 {
	font-family: 'Open Sans', sans-serif;
	color: #00661E;
	font-size: 26px;
}

.options_title_grove {
	padding: 5px;
	margin-bottom: 5px;
}

.options_title_grove p {
	font-family: 'Bevan', sans-serif;
	color: #00661E;
}

.options_title_grove h4 {
	font-family: 'Bevan', sans-serif;
	color: #00661E;
	font-size: 40px;
}

.non_grove {
	margin-top: 60px;
	margin-bottom: 15px;
}

.non_grove_box {

	min-height: 520px;
	position: relative;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);

}

.grove_box {
	-webkit-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.75);
min-height: 600px;

}

.price_container_inner {
	max-width: 940px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
}


.price_checkmarks {
  max-width: 180px;
	margin: 0 auto;
}

.price_checkmarks ul {
	list-style-image: image-url('green_checkmark_small.png');
	font-size: 16px;
}

.price_checkmarks li {
	margin-bottom: 10px;
}

.price_section {
	position:absolute; 
	bottom:0;
	text-align:center;
	width: 100%;
	margin: 0 auto;
}

.price_listing p {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #00661E;
	font-size: 24px;
}

.grove_price p {
	font-size: 28px;
}

.pricing_fine_print {
	text-align: center;
	font-size: 10px;
	margin-top: 40px;
}



