<!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
               
                <div class="row has-divider">
                    <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">How can we help?</h3>
                            <ul class="list-unstyled download-list">
                                <li><a class="btn btn-ghost" href="/"><i class="fa fa-apple"></i><span class="text">Home</span> </a></li>
                                <li><a class="btn btn-ghost" href="/contacts/new"><i class="fa fa-android"></i><span class="text">Contact Us</span></a></li>
                                <li><a class="btn btn-ghost" href="/pages/about"><i class="fa fa-windows"></i><span class="text">About</span></a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//download-->
                    <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">51 Wolselsey Street</span><br>
                                    <span class="region">Toronto, Ontario</span><br>
                                    <span class="postal-code">M5T 1A4</span><br>
                                    <span class="country-name">Canada</span>
                                </span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>416 464 6426</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">info@betterplaceservices.com</a></p> 
                                              
                        </div><!--//footer-col-inner-->
                    </div><!--//contact-->
                </div>
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ 2015 Better Place Inc.</small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
  
    
   
 